controller:
  service:
    type: {{ .Values | get "ingress.serviceType" "LoadBalancer" }}
  config:
    proxy-read-timeout: "300"
    proxy-body-size: "50m"
  tcp:
    "30060": "gosat/gosat-server:30060"
